
.categorycontainer {
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
   
  }
  
  .catecontainer h1 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
    color:#072c53;
    font-weight:600px;
  }
  
 
  .subjects-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
  }
  
  .subject-category {
    text-align: left;
  }
  
  .subject-category h2 {
    font-size: 1.5rem;
    color: #007bff;
    margin-bottom: 10px;
  }
  

  .subjects {
    list-style-type: none;
    padding: 0;
  }
  
  .subjects li {
    font-size: 1rem;
    margin: 10px 0;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: #555;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, background-color 0.3s;
  }
  
  