
.Exercisebackcontainer{
  height: 200vh; /* Adjust this to fit your content */
  background-image: url('../../assets/laptop-books-table-3d-render-illustration_1142-56966.jpg'); /* Path to the image */
  background-size: cover; /* Ensure the image covers the entire area */
  background-position: center; /* Center the image */
  display: flex;
  justify-content: flex-start; /* Align content horizontally at the start */
  align-items:center; /* Align content vertically at the top */
  flex-direction: column; /* Ensure content stacks vertically */
  padding-top: 0; 
}

.Exercisecontainer {
    display: flex ;
    flex-direction: column;
    align-items: top;
    padding: 20px;
    min-height: 100vh;
    background-color:transparent;
     margin-top: 0; 

    
  }
  
  .Exercisecontainer2 {
    text-align: center;
    margin-bottom: 20px;
    color: #01051b;
 
   
  }
  
  .exercise-lists {
    display: flex;
    justify-content: center;
    gap: 20px; }
  
  .exercise-list {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: left; 
    color:#061638;
  }
  
  .exercise-list h2 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #080e47;
    text-align: center;
  }
  
  .exercise-list ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; 
    gap: 10px; 
   
  }
  
  .exercise-list li {
    font-size: 16px;
    color: #555;
    padding: 5px 0; 
    color:#1a1717;
  }
  
  .exercise-list li:hover {
    color: #000;
    font-weight: bold;
  }
  