
.homebackcontainer{
  height: 100vh; /* Full height of the viewport */
  background-image: url('src/assets/flat-lay-desk-dark-concept-with-copy-space_23-2148459510.jpg'); /* Path to the image */
background-size: cover; /* Ensure the image covers the entire area */
background-position: center; /* Center the image */
display: flex;
justify-content: top; 

padding-top: 100px;

  }
.homeheader{
  
  margin-top: 0.0vh; 
}  
h2{
  font-size: 50px;
  color: beige;
  
}
  


 