.Learncontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    background-color: #f9f9f9;
  }
  
  .Learncontainer2 {
    text-align: center;
    margin-bottom: 20px;
    color: #030938;
  }
  