.profilecontainerback {
  height: 180vh; /* Full height of the viewport */
  background-image: url('src/assets/still-life-books-versus-technology_23-2150062916.jpg'); /* Path to the image */
  background-size: cover; /* Ensure the image covers the entire area */
  background-position: center; /* Center the image */
  display: flex;
  justify-content: flex-start; /* Align content horizontally to the start */
  align-items: flex-start; /* Align content vertically to the start */
  padding-top: 10px; /* Ensure no extra padding on the top */
}

.profile-container {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fefefe;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 100px; /* Add some space from the top of the page */
}
 
  
  .profile-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-bottom: 10px;
    object-fit: cover;
  }
  
  .profile-header h1 {
    font-size: 24px;
    color: #333;
  }
  
  .profile-content {
    margin-top: 20px;
  }
  
  .profile-section {
    margin-bottom: 20px;
  }
  
  .profile-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #444;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
  }
  
  .profile-section p {
    font-size: 16px;
    color: #666;
  }
  .profile-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .edit-profile-button,
  .logout-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    
  }
  
  .edit-profile-button {
    background-color: #007bff;
  }
  
  .logout-button {
    background-color: #dc3545;
  }
  
  .edit-profile-button:hover {
    background-color: #0056b3;
  }
  
  .logout-button:hover {
    background-color: #c82333;
  }
  