/* Background Section */
.categorycontainer {
  width: 100%;
  text-align: center;
  background: url('src/assets/pexels-photo-7983353.jpeg') no-repeat center center;
  background-size: cover;
  background-attachment: scroll; 
  padding: 100px 20px; 
  color: rgb(13, 8, 39);
  min-height: 70vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  gap: 50px;
}
.categorybackcontainer{
  height: 320vh; 
  background-image: url('src/assets/janko-ferlic-sfL_QOnmy00-unsplash (1).jpg'); 
  background-size: cover; 
  background-position: center; 
  display: flex;
  justify-content: flex-start; 
  align-items:center; 
  flex-direction: column; 
  padding-top: 0; 
  width:100%;
}


/* List Container - Placed Below the Background */
.list-container {
  width: 100%;
  background: white;
  padding: 50px 20px;
  text-align: center;
  
}


/* List Styles */
.subjects-container {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  gap: 50px; 
  margin-top: 20px;
  width: 50%;
  align-items: center;
  margin-left: 20px;
  
}

.subject-category {
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  gap: 20px; 
  width: 80%; 
  margin-bottom: 20px;
 

}
/* Subject Text Section */
.subject-text {
  flex: 1;
  text-align: center; 
}

/* Image for Each Category */
.category-image {
  width: 300px; 
  height: 300px;
  border-radius: 8px;
  margin-left: 25px; 
}

.subject-category h2 {
  font-size: 1.5rem;
  color: #132335;
  margin-bottom: 10px;
}

.subjects {
  list-style-type: none;
  padding: 0;
}

.subjects li {
  font-size: 1rem;
  margin: 10px 0;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  color: #555;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, background-color 0.3s;
}

  